<md-sidenav-layout>
<md-toolbar md-scroll-shrink>
	<div layout="row" layout-align="center center" flex>
		<h1>Jongalt Quotes </h1>
	</div>	
</md-toolbar>
<div class="app-content">
	<p>
		Do not let your fire go out, spark by irreplaceable spark in the hopeless swamps of the not-quite, the not-yet, and the not-at-all. Do not let the hero in your soul perish in lonely frustration for the life you deserved and have never been able to reach. The world you desire can be won. It exists.. it is real.. it is possible.. it's yours.
	</p>
</div>
</md-sidenav-layout>
